<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/import/alpine.js" type="text/javascript" defer></script>
    <title>Register</title>
</head>

<body class="min-h-sceen dark:bg-slate-900">
    <div class="w-full min-h-screen flex flex-col items-center justify-center">
        <span class="text-2xl text-gray-200 font-medium mb-10">Sign Up</span>
        <div class="w-full max-w-sm">
            <form class="rounded px-8 pt-6 pb-8 mb-4" method="post">
                <div class="mb-3">
                    <label for="confirm-password" class="block text-gray-600 text-sm font-medium mb-2">
                        Username
                    </label>
                    <input <% if(errors && errors.username) { %>
                        class="input-text input-error"
                        <% } else { %>
                        class="input-text"
                        <% } %>
                        value="<%= formData?.username %>"
                            id="username" type="text" placeholder="Username" />
                            <p class="text-red-500 text-xs italic">
                                <%= errors?.password?.msg %>
                            </p>
                </div>
                <div class="mb-3">
                    <label for="confirm-password" class="block text-gray-600 text-sm font-medium mb-2">
                        Email
                    </label>
                    <input <% if(errors && errors.email) { %>
                        class="input-text input-error"
                        <% } else { %>
                        class="input-text"
                        <% } %>
                        value="<%= formData?.email %>"

                        
                        placeholder="Email"
                    type="email" name="email" id="email">
                    <p class="text-red-500 text-xs italic" >
                        <%= errors?.email?.msg %>
                    </p>
                </div>
                
                <div class="mb-3">
                    <label for="confirm-password" class="block text-gray-600 text-sm font-medium mb-2">
                        Password
                    </label>
                    <input <% if(errors && errors.password) { %>
                    class="input-text input-error"
                    <% } else { %>
                        class="input-text"
                        <% } %>
                        
                            id="password" type="password" placeholder="******************" />
                            <p class="text-red-500 text-xs italic">
                                <%= errors?.password?.msg %>
                            </p>
                </div>

                <div class="mb-6">
                    <label for="confirm-password" class="block text-gray-600 text-sm font-medium mb-2">
                        Confirm Password
                    </label>
                    <input 
                    <% if(errors && errors.confirmPassword) { %>
                        class="input-text input-error"
                        <% } else { %>
                            class="input-text"
                        <% } %>
                        type="password"
                        name="confirm-password"
                    id="confirm-password" 
                    placeholder="******************" 
                    
                    />
                    <p class="text-red-500 text-xs italic" >
                        <%= errors?.confirmPassword?.msg %>
                    </p>
                    
                </div>
                <div class="flex flex-col items-baseline justify-between">
                    <button
                        class="w-full inline-flex justify-center whitespace-nowrap rounded-lg bg-blue-500 px-3 py-2.5 text-sm font-semibold text-white shadow-lg shadow-blue-500/50 hover:shadow-blue-600/50 hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300 focus-visible:outline-none focus-visible:ring focus-visible:ring-blue-300 transition-colors duration-150"
                        type="submit">
                        Sign In
                    </button>
                    <p class="text-sm text-gray-500 flex gap-1 mt-4">
                        Already have an account?
                        <a class="text-blue-400 hover:underline" href="/login">Sign In</a>
                    </p>
                </div>
                <div class="w-full relative mt-8 mb-8 border border-gray-600 border-b-[1px]">
                    <p class="text-sm text-gray-400 absolute left-[50%] translate-x-[-50%] translate-y-[-53%] p-3 bg-slate-900">or</p>
                </div>
                <a href="#" class="w-full inline-flex justify-center items-center px-3 py-2.5 rounded-lg bg-transaparent hover:bg-slate-800 text-gray-100 border border-slate-600 gap-3 transition duration-100">
                    <img src="/images/icons/google.svg" alt="Google" class="w-5 h-5">
                    <span class="text-sm font-semibold">Sign Up with Google</span>
                </a>
            </form>
            <%- include("../components/copyright-form-text.ejs") %>
        </div>
    </div>
</body>

</html>